<article class="article-archive">
  <h2 class="article-title <% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= __('all_tags') %></h2>

  <div class="tags-cloud">
    <% site.tags.sort('name').map(function(tag){  %>
      <span class="post-tags">
        <i class="icon-tags"></i>
          <a href="<%= url_for(tag.path) %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
      </span>
    <% }) %>
  </div>
</article>
