<header>
  <div class="site-branding">
    <h1 class="site-logo">
      <div>
        <a href="<%- config.root %>"><img src="<%- config.root %>images/logo.png" /></a>
        <% if (theme.widget){ %>
          <a href="<%- config.root %>"><img id="logo-widget" src="<%- config.root %>images/widget.png" /></a>
        <% } %>
      </div>
    </h1>
    <p class="site-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
  </div>
  <nav class="site-navigation">
    <ul>
      <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a></li>
      <% } %>
    </ul>
  </nav>
</header>